<jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
<jce-spinner [visible] = "isloading"> </jce-spinner>
<!--data from father to son-->
<div>
  <ul class="list-group users"> 
    <li class="list-group-item" 
     [class.active]="currentUser == user"
      *ngFor = "let user of  users"
      (click) = "select(user)" >
      <jce-user [user] = "user"
      (deleteEvent) = "deleteUser($event)"
      (editEvent) = "updateUser($event)"
      ></jce-user>
      </li>
  </ul>
</div>