 <span *ngIf = "!isEdit"> name: {{user.name}}, email: {{user.email}} </span>
 <span *ngIf = "isEdit"> Name:<input type="text" [(ngModel)] = "user.name">  Email: <input type="text" [(ngModel)] = "user.email"></span>
 
 <button (click) = sendDelete()>delete</button>
 <button (click) = toggleEdit()>{{editButtonText}}</button>
 <button *ngIf = "isEdit" (click) = cancelEdit() >cancel</button>